@import 'styles/theme';

.newComment {
  background-color: #873e23;
  position: relative;
  height: 100vh;

  &.container {
    position: absolute;
    background-color: white;
    width: 40%;
    height: auto;
    left: 30%;
    top: 10%;
    border-radius: $borderRadius;
    padding: 15px;
    flex-direction: column;
    
  }
  &.form {
    background-color: white;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    outline:0;  
  }

  .username {
    text-align: center;
    background-color: white;
    font-size: large;
    height: auto;
    top: 10px;
    

  }

  .avatar {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0 / 16%) 0px 3px 6px, rgb(0, 0, 0 / 23%) 0px 3px 6px;
    margin: 0px auto 0px auto;
  
    img {
      width:100%;
      height:100%;
      border-radius: 50%;	
      
    }
  }



.setting-button {
  height: 40px;
  width: 40px;
}}
