@import 'styles/theme';

.newSession {
  background-color: #873e23;
flex:1;  flex-direction: column;
  .headerrow{color:#EF8943;padding-top:3vh;padding-bottom:0em}
.session.headerrow.headerp1 {
  overflow:hidden;
  margin-bottom:-5vh;
  text-align: center;
  color: red;
  font-size: large;
  font-family: "Manrope", sans-serif;
  padding-right: 10%;
  margin-left: 0vh; }
  
.center{
    color:$headertextColor1;
    display: block;
   }
  

    &.toggleOptions {
      display: flex;
      flex-direction: row;
      background-color: white;

      .toggleButton {
        width: 40%;
      }
    }


    .container {margin-top:1vh;
      float:left;min-height: 100%;max-height: 100%;
      display: block;
      margin-left:20%;        margin-right:20%;   
 
      background-color: white;
      border-radius: $borderRadius;
      padding: 15px;
      padding-bottom:50vh;
  }

    &.form {
      background-color: white;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 15px;
      margin-bottom: 10px;
    }
    &.maxParticipants {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      background-color: white;
      padding-left: 0;
      height: 35px;
    }
    &.list-item {
      height: 35px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      background-color: white;

      &.text {
        padding-top: 10px;
      }
    }

    &.field {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.input {
      height: 35px;
      padding-left: 15px;
      margin-left: -4px;
      border: none;
      border-radius: 0.75em;
      margin-bottom: 20px;
      background: transparentize(white, 0.85);
      color: $textColor;
    }
    &.label {
      color: $textColor;
      margin-bottom: 10px;
      text-transform: lowercase;
      font-weight: 300;
    }
}
.title-field{
  border-radius:0;
  background: white;
  max-width: 0vh;
  min-width:100%;
  margin-right:10%
}

.newSession {
  background-color: #873e23;
  height: auto;text-align: center;
flex:1;  flex-direction: column;}



.title-field{max-width:80vh; border:none; outline: none;padding-right: 0%;background-color: transparent;text-align: center;
}





.box{
  box-shadow: 5px 10px;
  background-color: #FFFFFF;
  font-weight:bold;
  height: 100px;
  width:auto;
  border-radius: $borderRadius;
  &.picture{
    height: auto;

  }
}

.setting-icon {
  height: 30px;
  width: auto;
}

.setting-button {
  height: 40px;
  width: 40px;
  border: white;
  background: white;
  cursor: pointer;	
}

.image-upload {
  height: auto;
  width: auto;
  box-shadow: rgb(0, 0, 0 / 16%) 0px 3px 6px, rgb(0, 0, 0 / 23%) 0px 3px 6px;
  margin: 0px auto 0px auto;
  
  &.addIcon {
    width: 50x;
    top: 200px;
    left: 100px;
  }
  img {
    width:100%;
    height:100%;
    cursor: pointer;	
    
  }
  
}


  .image-upload > input
  {
    display: none;
  }

  .uploadImage {
  margin-block-end: 20px;

  &.output {
    padding: 10px;
    min-height: 20px;
    overflow: hidden;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
  }
  img {
    width:100%;
    height:100%;
  }
  
}