@import 'styles/theme';

.newSession {
  background-color: #873e23;margin-right: -0%;
flex:1;  flex-direction: column;
  .headerrow{color:#EF8943;text-align: center;
  }
.session.headerrow.headerp1 {
  overflow:hidden;

  margin-bottom:-5vh;
  color: red;
  font-size: large;
  font-family: "Manrope", sans-serif;
  padding-right: 10%;
  margin-left: 0vh; }
  
.center{
    color:$headertextColor1;
    display: block;
   }
  

    &.toggleOptions {
      display: flex;
      flex-direction: row;
      background-color: white;

      .toggleButton {
      }
    }

    .container {margin-top:1vh;  margin-top: 20vh;

      margin-right:50vh;margin-left:100vh;max-height: 100vh;min-width:50vh;max-width:50vh;
      display: block;
      flex:2;
      background-color: white;
      border-radius: $borderRadius;
      padding: 15px;
   

  }

    &.form {
      background-color: white;
      display: flex;
      justify-content: left;
      gap: 15px;
      margin-bottom: 10px;
    }
    &.maxParticipants {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      background-color: white;
      padding-left: 0;
      height: 35px;
    }
    &.list-item {
      height: 35px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      background-color: white;

      &.text {
        padding-top: 10px;
      }
    }

    &.field {
    }
    &.input {
      margin-left: -4px;
      border: none;
      border-radius: 0.75em;
      background: transparentize(white, 0.85);
      color: $textColor;
    }
    &.label {
      color: $textColor;
      margin-bottom: 10px;
      text-transform: lowercase;
      font-weight: 30;
    }
}
.title-field{
  border-radius:0;
  background: white;
  margin-right:10%
}

.newSession {
  background-color: #873e23;

  height: auto;text-align: center;}



.title-field{ border:none; outline: none;background-color: transparent;text-align: center;
}

.nav-bar-container-light {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 2px;;
  height: 60px;}




.box{
  box-shadow: 5px 10px;
  background-color: #FFFFFF;
  font-weight:bold;
  height: 100px;
  border-radius: $borderRadius;
  &.picture{
    height: auto;

  }
}

.setting-icon {
  height: 30px;
}

.setting-button {
  height: 40px;
  border: white;
  background: white;
  cursor: pointer;	
}

.image-upload {
  height: auto;
  box-shadow: rgb(0, 0, 0 / 16%) 0px 3px 6px, rgb(0, 0, 0 / 23%) 0px 3px 6px;
  margin: 0px auto 0px auto;
  
  &.addIcon {
    top: 200px;
    left: 100px;
  }
  img {
    height:26vh;
    cursor: pointer;	
    
  }
  
}


  .image-upload > input
  {
    display: none;
  }

  .uploadImage {
  margin-block-end: 20px;

  &.output {
    padding: 10px;
    overflow: hidden;
    border-color: black;
    border-style: solid;
  }
  img {
  }
  
}