/*
  This file contains the most basic variables that control how your application will look.
 */
/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/
/* some constants */
/* some standard elements */
/* fonts */
/* a standard drop shadow */
/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
.session {
  max-height:100vh;

  background-color: #873e23;
  height: 100vh;min-width: 100vh;
  ; padding-bottom:30vh;

  .newSession.container {
    overflow:auto;
float:left;
    max-height: 90vh;
    max-width: 80vh;
  
    display: flex;margin-top: 1.5cm;

    background-color: white;
    height: auto;
    border-radius: 0.75em;
    padding: 15px;
    margin-left: 2cm;
    margin-right: 5cm;

  }



  .newComment.container {
    max-height: 100vh;
    
    background-color: white;
    height: auto;
    position:absolute;
    border-radius: 0.75em;
    padding: 15px;margin-top: 4cm;
    flex-direction: column;
    float:right;      
    overflow: h;
    margin-left:4cm;
    flex:3;}





}
.nav-bar-container-light {min-width: 100vh}
  .session .c {
    width: 8vh;
    height: 5vh; }
  .session img {
    max-width: 40vh;
    width: 60vh;
    height: 100%;
    max-height: 45vh; }
.newComment.avatar{max-width: 10vh;max-height: 10vh;}
  
  
  .session .headerp1 {
    overflow:hidden;
    margin-bottom:-5vh;
    text-align: center;
    color: #EF8943;
    font-size: large;
    font-family: "Manrope", sans-serif;
    padding-right: 10%;
    margin-left: 0vh; }


.chatContainer{min-height: 35vh;max-height:35vh; overflow:hidden;}
  .session textarea {
    width: 100%;text-align: left; }
 


  .session .leaveSession {
    display: flex;
    justify-content: space-around;
    font-size: large;
    height: 28px; }
    textarea{min-width: 100%;}
    



      


