@import 'styles/theme';

.nav-bar-container-light {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 2px;
  height: 60px;
}

.logo {
  width: 40px;
  height: 40px;
}

.middle-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}
.left-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-left: 40px;
}

.right-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-right: 40px;
}

.list-item {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.link-light {
  color: #171f46;
  text-decoration: none;
}

.icon {
  height: 30px;
  width: auto;
}

.nav-button {
  height: 40px;
  width: 40px;
  border: white;
  background: white;
  cursor: pointer;	

  :hover {
    transform: translateY(-2px);
    background-color: gainsboro;
  }

}
